@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Museo Map Of The Soul</h1>
    <p class="lead">Museo feminista, LGBT, anticlasista y que pretende ser anticapitalista, pero no se puede porque actually el arte lo es.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>¿Porqué?</h2>
        <p>
           actually tendría entradas gratis just because odiamos el capitalismo, pero no se puede y aparte necesitaba tablas verdad
        </p>
        </div>
    <div class="col-md-4">
        <h2>Just ignore me</h2>
        <p>Debería estar haciendo cambios importantes pero como no pude hacerlos entonces cambio la página de inicio aunque tampoco se cómo hacer que de aquí vaya a las otras tablas, una disculpa, aparte ya es mucho tiempo después</p>
    </div>
    <div class="col-md-4">
        <h2>Que bonitas cosas, verdad?</h2>
        <p>I'm very proud of mi misma, la verdá, este proyecto no me generó tanta ansiedad</p>
    </div>
</div>